<%- include('includes/header') %>

<div class="row">
  <h1>Patient Dashboard</h1>
  <a class="button pull-right" href="/meetings/book">+ Book meeting</a>
</div>

<% if (meetings.current.length > 0) { %>
<h3>Current meeting</h3>
<div class="column meeting-strip">
  <% for (var m of meetings.current) { %>
    <div class="row meeting-item">
      <div class="meeting-item-time grow"><time><%= m.start_time %><time></div>
      <div><a class="button" href="/meetings/join/<%= m.id %>">Join meeting</a></div>
    </div>
  <% } %>
</div>
<% } %>

<h2>Upcoming meetings</h2>

<% if (meetings.upcoming.length > 0) { %>
  <div class="column meeting-strip">
    <% for (var m of meetings.upcoming) { %>
      <div class="row meeting-item">
        <div class="meeting-item-time grow"><time><%= m.start_time %></time></div>
      </div>
    <% } %>
  </div>
<% } else { %>

  <p>You don't have any upcoming meetings. You can <a href="/meetings/book">book a meeting</a>.</p>

<% } %>

<%- include('includes/footer') %>
