<%- include('includes/header') %>

<% if (!meeting_over) { %>
<section>
  <div><a class="button secondary" href="/">Exit</a></div>
  <div id="message"></div>
  <div id="ot_embed_demo_container"><%- embed_code %></div>
</section>

<section>
  <h2>Meeting information</h2>
  <dl>
    <dt>Start time</dt><dd><time><%= meeting.start_time %></time></dd>
    <dt>End time</dt><dd><time><%= meeting.end_time %></time></dd>
  </dl>
</section>

<script>
  window.addEventListener('load', function () {
    var embed_container = document.getElementById('ot_embed_demo_container');
    var message_container = document.getElementById('message');
    var end_time = Date.parse("<%= meeting.end_time %>");
    var time_left = end_time - Date.now();

    setInterval(function () {
        var remaining = Math.round((end_time - Date.now()) / 60000);
        message_container.innerHTML = '<p><strong>Time remaining: ' + remaining + ' minute(s).</strong></p>';
      }, 60000);
    setTimeout(function () {
      window.location.reload();
    }, time_left);
  });
</script>

<% } else { %>
  <p><strong>Meeting is over.</strong></p>
  <p><a href="/" class="button">Exit</a></p>
<% } %>

<%- include('includes/footer') %>
